header
{
  background-image: url(../../assets/images/photo-1558910767-62aa2a9e1859.webp);
  background-size: cover;
  background-position: center center;
}

.layer
{
  background-color: rgba(0 , 0, 0, 0.6);
}
